.container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    height: 800px;
    width: 800px;
    margin: auto;
}

.col {
    display:flex;
    flex-direction: column;
    flex:auto;
}

.colored {
    background-color: black;
    user-select: none;

}
.pixel {
    border: 1px solid black;
    flex:auto;
}